version: '3.8'

services:
  viet-japanese-learning:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: viet-japanese-learning
    ports:
      - "4002:4002"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
