@import "tailwindcss";

/* Ngăn autofill đổi nền */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #202f36 inset !important;
  /* nền giữ màu dark */
  -webkit-text-fill-color: #ffffff !important;
  /* màu chữ trắng */
  caret-color: #ffffff !important;
  /* caret trắng */
  transition: background-color 9999s ease-in-out 0s;
  /* hack ngăn nháy màu */
}

input {
  outline: none;
  box-shadow: none;
}

textarea {
  outline: none;
  box-shadow: none;
}

/* button {
  cursor: pointer;
} */
a {
  cursor: pointer;
}
